<div class="container">
  <app-linktree-link imgSrc="assets/logos/instagram.png" link="https://www.instagram.com/chrisps_photography/
" text="Instagram" class="row"></app-linktree-link>
  <app-linktree-link imgSrc="assets/logos/twitter.svg" link="https://twitter.com/2001FilmOdyssey
" text="Twitter" class="row"></app-linktree-link>
  <app-linktree-link imgSrc="assets/logos/letterbox-black.svg" link="https://letterboxd.com/1andonlychris/
" text="Letterbox" class="row"></app-linktree-link>
  <app-linktree-link imgSrc="assets/logos/studentfilm.svg" link="https://studentfilm.ch/profile/christoph-baertsch
" text="Studentfilm" class="row"></app-linktree-link>
</div>
