<div class="container">
  <app-linktree-link imgSrc="assets/logos/instagram.png" link="https://www.instagram.com/chrisps_photography/
" text="Instagram" class="row"></app-linktree-link>
  <app-linktree-link imgSrc="assets/logos/twitter.svg" link="https://twitter.com/2001FilmOdyssey
" text="Twitter" class="row"></app-linktree-link>
  <app-linktree-link imgSrc="assets/logos/letterbox-black.svg" link="https://letterboxd.com/1andonlychris/
" text="Letterbox" class="row"></app-linktree-link>
  <app-linktree-link imgSrc="assets/logos/studentfilm.svg" link="https://studentfilm.ch/profile/christoph-baertsch
" text="Studentfilm" class="row"></app-linktree-link>
  <app-linktree-link imgSrc="assets/logos/linkedIn.png" link="https://www.linkedin.com/in/christoph-b%C3%A4rtsch-bab98a220/
" text="LinkedIn" class="row"></app-linktree-link>
  <app-linktree-link imgSrc="assets/logos/spotify.svg"
    link="https://open.spotify.com/user/npauiuyq85hztzdfu9sege3m8?si=0403273dfbcd4077" text="Spotify Personal"
    class="row">
  </app-linktree-link>
  <app-linktree-link imgSrc="assets/logos/spotify.svg" link="https://open.spotify.com/artist/2K1yhB0HR22eEEQHmGsPX8?si=1RkH8T8UT92ySIs5fwqnhg
" text="Spotify Public" class="row"></app-linktree-link>
</div>
