<form class="container" [formGroup]="uploadForm" (ngSubmit)="submit()" *ngIf="uploadProgress==null">
  <div class="row my-2">
    <div class="col">
      <label for="audio" class="form-label">Audio File</label>
      <input class="form-control" type="file" accept="audio/mpeg" id="audio" formControlName="audio"
        [ngClass]="applyClass('audio')" (change)="onFileSelect($event, 'audio')">
      <div class="invalid-feedback">
        You must provide a valid audio file.
      </div>
    </div>
    <div class="col">
      <label for="cover" class="form-label">Album Cover</label>
      <input accept="image/jpeg" class="form-control" type="file" id="cover" formControlName="cover"
        [ngClass]="applyClass('cover')" (change)="onFileSelect($event, 'cover')">
      <div class="invalid-feedback">
        You must provide a album cover.
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col">
      <label for="url" class="form-label">Song Link</label>
      <input id="url" type="url" class="form-control" formControlName="url" [ngClass]="applyClass('url')">
      <div class="invalid-feedback">
        You must provide a valid url.
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col">
      <button type="submit" class="btn btn-danger form-control" [disabled]="uploadForm.invalid">Submit</button>
    </div>
  </div>
</form>
<ngb-progressbar class="row" type="success" [value]="uploadProgress ? uploadProgress : 0"
  [ngStyle]="uploadProgress == null ? {display: 'none'} : {display:'initial'}">Uploading...</ngb-progressbar>
<div>
  <div class="container border p-2" cdkDropList>
    <app-music-item class="row mx-2" *ngFor="let musicPiece of music" [music]="musicPiece" cdkDrag></app-music-item>
  </div>
</div>
