<div id="container">
  <div id="uploadForm" [ngStyle]="uploadProgress != null || changes ? {display: 'none'} : {display:'initial'}">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="container-sm">
      <input type="file" accept="video/mp4" #videoUpload class="file-input" formControlName="video"
        (change)="onFileSelect($event, 'video')" />
      <input type="file" accept="image/jpeg" (change)="onFileSelect($event, 'image1')" #image1Upload class="file-input"
        formControlName="image1" />
      <input type="file" accept="image/jpeg" (change)="onFileSelect($event, 'image2')" #image2Upload class="file-input"
        formControlName="image2" />
      <input type="file" accept="image/jpeg" (change)="onFileSelect($event, 'image3')" #image3Upload class="file-input"
        formControlName="image3" />

      <div class="row my-2">
        <button (click)="videoUpload.click()" type="button"
          [ngClass]="form.get('video')?.invalid ? 'btn-danger' : 'btn-success'" class="col btn">Select
          Video</button>
      </div>

      <div class="row my-2">
        <button (click)="image1Upload.click()" type="button"
          [ngClass]="form.get('image1')?.invalid ? 'btn-danger' : 'btn-success'" class="col mr-1 btn">Select
          Image
          1</button>
        <button (click)="image2Upload.click()" type="button"
          [ngClass]="form.get('image2')?.invalid ? 'btn-danger' : 'btn-success'" class="col mx-1 btn
          ">Select
          Image
          2</button>
        <button (click)="image3Upload.click()" type="button"
          [ngClass]="form.get('image3')?.invalid ? 'btn-danger' : 'btn-success'" class="col ml-1
          btn">Select
          Image
          3</button>
      </div>

      <div class="row my-2">
        <div class="col">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" formControlName="title" class="form-control"
            [ngClass]="form.get('title')?.invalid ? 'is-invalid' : 'is-valid'">
        </div>
        <div class="col">
          <label for="subtitle" class="form-label">Subtitle</label>
          <input type="text" name="subtitle" formControlName="subtitle" class="form-control"
            [ngClass]="form.get('subtitle')?.invalid ? 'is-invalid' : 'is-valid'">
        </div>
      </div>

      <div class=" row my-2">
        <div class="col">
          <label for="url" class="form-label">Url</label>
          <input type="url" name="url" formControlName="url" class="form-control"
            [ngClass]="form.get('url')?.invalid ? 'is-invalid' : 'is-valid'">
        </div>
      </div>

      <div class="row my-2">
        <button class="btn btn-danger col" [disabled]="form.invalid" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <ngb-progressbar class="col" type="success" [value]="uploadProgress ? uploadProgress : 0"
    [ngStyle]="uploadProgress == null ? {display: 'none'} : {display:'initial'}">Uploading...</ngb-progressbar>
  <div class="border p-4" id="videoListing" [ngClass]="form.dirty ? 'd-none' : 'container'">
    <div class="row" cdkDropList>
      <app-video-item *ngFor="let video of videos" [video]="video" class="row my-2" style="cursor: pointer;" cdkDrag
        (cdkDragDropped)="onDrop($event)" [ngStyle]="{order: video.position}" (videoChange)="videoChanged($event);">
      </app-video-item>
    </div>
    <div class="row">
      <button class="btn btn-danger col" type="button" [disabled]="!changes" (click)="uploadChanges()">Update
        Changes</button>
    </div>
  </div>
</div>
