div {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: rgba(black, 0.9);
  position: fixed;
  z-index: 1;

  #image {
    position: inherit;
    z-index: 2;
    padding: 0;
    margin: 0;
    max-width: 80vw;
    max-height: 80vh;

    // centering
    transform: translate(-50%, -50%);
    left: 50vw;
    top: 50vh;
  }

  .nav-icons {
    $size: 5vw;
    width: $size;
    height: $size;

    @media screen and (max-width: 768px) {
      width: $size * 2;
      height: $size * 2;
    }

    background-color: initial;
    position: inherit;
    z-index: 3;

    // vertical centering
    transform: translateY(-50%);
    top: 50%;

    cursor: pointer;

    img {
      position: inherit;
      background-color: transparent;
      width: inherit;
      height: inherit;
    }
  }

  $abstand: 7.5vw;
  $abstand-mobile: 0.1vw;

  #lastImage {
    left: $abstand;
    right: auto;

    @media screen and (max-width: 768px) {
      left: $abstand-mobile;
    }
  }

  #nextImage {
    right: $abstand;
    left: auto;

    @media screen and (max-width: 768px) {
      right: $abstand-mobile;
    }
  }

  #close {
    transform: scale(0.5);
    top: 0;
  }
}
