#container {
  width: 75%;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  text-align: center;
  margin: 1% 0;

  #title {
    text-align: center;
    font-size: larger;
  }

  .button {
    width: 25%;
    height: 10%;
    display: inline-block;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 30%;
    }
  }

  .cdk-drag {
    width: 100%;
    height: 20%;
    display: inline-block;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
  }

  .cdk-drop-list {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    border-color: var(--primary-color);
    border-style: solid;
    border-radius: 5px;
    margin: 1% 0;
  }
}
