article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  max-width: 75vw;

  @media (min-width: 20cm) {
    max-width: 100vw;
  }
}

.still {
  max-width: 75vw;
  min-width: 10vw;
  width: 100px;
}
