article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  max-width: 75vw;
  transform: translate(-50%, 0);
  left: 50vw;
}

:host ::ng-deep img {
  margin: 1%;
  overflow: auto;
}
