#impressum {
  // background-color: whitesmoke;
  width: 100vw;
  text-align: center;
  size: 1rem;
  color: black;
  a {
    size: inherit;
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .active {
    text-decoration: underline;
  }
}
