<div>
  <p><strong><i>Contact address</i></strong></p>
  <address>
    <p>Dominik Schwaiger<br />Hofackerstrasse 3<br />8722 Kaltbrunn<br />Switzerland</p>
    <p>E-Mail:<br /><a href="mailto:mail@dominik-schwaiger.ch">mail@dominik-schwaiger.ch</a></p>
  </address>

  <p><strong><i>Disclaimer</i></strong></p>
  The author assumes no responsibility for the correctness, accuracy,
  timeliness, reliability and completeness of the information.
  <p>
    Liability claims regarding damage caused by the use of any information provided, including any kind of information
    which is incomplete or incorrect, will therefore be rejected.
  </p>
  <p>
    All offers are non-binding. The author expressly reserves the right to change, supplement or delete parts of the
    pages or the entire offer without special notice or to cease publication temporarily or permanently.
  </p>

  <p>
    <strong><i>Disclaimer for links</i></strong>
  </p>
  <p>
    References and links to third party websites are outside our area of responsibility. Any responsibility for such
    websites is declined. The access and use of such websites is at the own risk of the respective user.
  </p>

  <p><strong><i>Copyrights</i></strong></p>
  <p>
    The copyright and all other rights to the content, images, photos or other files on this website belong exclusively
    to <strong>Christoph Anton-Cornelius Bärtsch</strong> or the specifically named copyright holders. For the
    reproduction of any
    elements, the written
    consent of the copyright holder must be obtained in advance.
  </p>
  <p>
    The source code is subject to licensing under <a
      href="https://github.com/quiode/Website-Chris">https://github.com/quiode/Website-Chris</a>.
  </p>
  <br />
  <!--ACHTUNG: Wenn Sie die Quelle ohne Erlaubnis von SwissAnwalt entfernen, dann begehen Sie eine Urheberrechtsverletzung welche in jedem Fall geahndet wird.-->Quelle:
  <a href="https://www.swissanwalt.ch" target="_blank" rel="noopener">SwissAnwalt</a>
  <!--Bitte beachten Sie die AGB von SwissAnwalt betreffend allf&auml;llig anfallenden Kosten bei Weglassen der Quelle!-->
</div>