.hover {
  &#links {
    display: flex;
    opacity: 1;
  }
  &#images {
    display: none;
    opacity: 0;
  }
}

#links {
  display: none;
  opacity: 0;
}

#images {
  display: flex;
  opacity: 1;
}

.video-item {
  height: 30vh;
  max-width: 30vw;
  aspect-ratio: 16/9;
  object-fit: cover;
  margin: 1%;
  margin-bottom: 0;
  margin-top: 0;

  @media screen and (orientation: portrait) {
    margin: 0;
    width: 33vw;
    height: auto;
  }

  span {
    position: relative;
    display: block;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    background-color: transparent;
    word-wrap: break-word;
  }

  div {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }
}

.items-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
}

.video-link {
  $opacity: 0.7;
  $color1: #5f4b8bff;
  $color2: #e69a8dff;
  background-color: $color1;
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: rgba($color: $color1, $alpha: $opacity);
  }

  &:first-of-type {
    background-color: $color2;

    &:hover {
      background-color: rgba($color: $color2, $alpha: $opacity);
    }
  }
}

.seperator {
  margin: 1%;
  transform: translateX(-50%);
  left: 50%;
  width: 75%;
  height: 1px;
  position: relative;
  background-color: rgb(var(--secondary-color));
}
