#nav-container {
  text-align: center;
  // background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  position: relative;
}

#name {
  margin: 0;
  padding: 0.5%;
}

a {
  $margin: 2%;
  margin-left: $margin;
  margin-right: $margin;
  position: relative;
  font-weight: normal;
  font-size: xx-large;
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}
