/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

// Variables
:root {
  // color-palette
  --primary-color: var(--white-primary);
  --secondary-color: var(--white-secondary);
  // white mode
  --white-primary: 255, 255, 255;
  --white-secondary: 0, 0, 0;
  // dark mode
  --dark-primary: 0, 0, 0;
  --dark-secondary: 255, 255, 255;
}

.center {
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
}

.center-horizontal {
  transform: translate(-50%, 0);
  position: relative;
  left: 50%;
}

.center-vertical {
  transform: translate(0, -50%);
  position: relative;
  top: 50%;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  color: rgb(var(--secondary-color));
  background-color: rgb(var(--primary-color));
}
