<div class="container">
  <div class="row py-2" style="justify-content: center; align-items: center;">
    <img class="col-5 img-fluid cover" [src]="sanitize(coverUrl)">
    <div class="col-3">
      <div class="row py-2 side-container" (click)="openSpotify()">
        <img src="assets/logos/spotify.svg" class="col img-fluid icon">
        <div class="col text">Listen on Spotify</div>
      </div>
      <div class="row py-2 side-container" data-bs-toggle="collapse"
        [attr.data-bs-target]="'#' + 'id'.repeat((music?.position  || 0) + 1)" aria-expanded="false"
        [attr.aria-controls]="'id'.repeat((music?.position  || 0) + 1)">
        <img class="col img-fluid icon" src="assets/music.svg">
        <div class="col text">Listen Here</div>
        <div class="collapse collapse-horizontal" [id]="'id'.repeat((music?.position  || 0) + 1)">
          <div class="card card-body" style="width: 300px;">
            <audio controls [src]="sanitize(musicUrl)">
              Your browser does not support the <code>audio</code> element.
            </audio>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
