.cover {
  object-fit: contain;
}

.icon {
}

.text {
  text-align: center;
  height: fit-content;
}

.side-container {
  align-items: center;
  background-color: rgba(var(--primary-color), 1);
  transition: background-color 0.4s ease;

  &:hover {
    cursor: pointer;
    background-color: rgba(var(--secondary-color), 0.5);
  }

  * {
    background-color: transparent;
  }

  @media screen and (max-width: 768px) {
    font-size: 50%;
  }
}

#right-side {
  @media screen and (max-width: 768px) {
    width: 40%;
  }
}

#player {
  @media screen and (max-width: 768px) {
    width: auto !important;
  }
}
