<div class="container my-3 py-2 border">
  <div class="row align-items-center">
    <div class="col-1 text-center" style="width: 4%;">{{ music?.position }}</div>
    <input #url type="url" class="form-control col me-1" style="width: 25%;" value="{{ music?.url }}"
      (change)="onUrlChange.emit(url.value)">
    <div class="col">
      <img [src]="sanitize(imageUrl)" class="img-fluid col" alt="Album Cover Image">
    </div>
    <audio class="col" controls [src]="sanitize(audioUrl)">Your browser does not support the
      <code>audio</code> element.</audio>
    <button type="button" class="col btn btn-danger me-2" (click)="onDelete.emit(music?.id)">Delete</button>
  </div>
</div>
